@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.trapezoid {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 90px solid;
}

.trapezoid-small {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid;
}

.header {
  label {
    width: 80px;
    height: 40px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    cursor: pointer;
    transition: 0.2s;
  }

  label:after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #002b65;
    border-radius: 36px;
    transition: 0.2s;
  }

  input {
    width: 0;
    height: 0;
    visibility: hidden;
  }

  input:checked + label:after {
    left: 78px;
    transform: translateX(-100%);
    background: #ff9900;
  }
}

.background {
  width: 20vw;
  height: 20vh;
  background: #fff;
  z-index: -1;
  position: absolute;
  transition: 0.2s;
}

label svg {
  position: absolute;
  width: 24px;
  top: 8px;
  z-index: 10;
}

label svg.sun {
  left: 8px;
  fill: #fff;
  transition: 0.2s;
}

label svg.moon {
  left: 49px;
  fill: #7e7e7e;
  transition: 0.2s;
}

input:checked + label svg.sun {
  fill: #7e7e7e;
}

input:checked + label svg.moon {
  fill: black;
}

.card-gradient {
  background: linear-gradient(
    to bottom right,
    rgba(5, 27, 57),
    rgba(57, 5, 52, 0.42)
  );
}

.dark {
  .blog-card-gradient {
    background: linear-gradient(
      to bottom right,
      #051b39,
      rgba(57, 5, 52, 0.42)
    );
  }
}

.reviews-gradient {
  background: linear-gradient(to bottom, #4a6ccae0, #334d94e0);
}

.dark {
  .reviews-gradient {
    background: linear-gradient(to bottom, #351375, #763edf);
  }
}

.logo-gradient {
  background: linear-gradient(to bottom, #011855, #54005b);
}

.logo-gradient:hover {
  background: linear-gradient(to bottom, #ffffff, #ffffff);
}

.input-gradient {
  background: linear-gradient(to right, #3e59a3, #6b7eaf);
}

.dark {
  .input-gradient {
    background: linear-gradient(to bottom right, #7f1bff55, #7f1bff00);
  }
}

.box-shadow {
  box-shadow: 5px 10px 18px rgba(61, 61, 61, 0.435);
}

.service-selector-gradient-A-selected {
  background: linear-gradient(to bottom, #4a6cca, #334d94);
}

.service-selector-gradient-B-selected {
  background: linear-gradient(to bottom, #d2d2d2, #909090);
}

.service-selector-gradient-A-unselected {
  background: #d9d9d9;
}

.service-selector-gradient-B-unselected {
  background: #d9d9d9;
}

.dark {
  .service-selector-gradient-A-selected {
    background: linear-gradient(to bottom, #818aa3, #a280a5);
  }

  .service-selector-gradient-B-selected {
    background: linear-gradient(to bottom, #818aa3, #a280a5);
  }

  .service-selector-gradient-A-unselected {
    background: linear-gradient(to bottom, #011855, #54005b);
  }

  .service-selector-gradient-B-unselected {
    background: linear-gradient(to bottom, #351375, #763edf);
  }
}

.service-section-mobile-gradient-A {
  background: linear-gradient(
    to bottom,
    rgba(62, 89, 163, 0.85),
    rgba(107, 126, 175, 0.85)
  );
}
.service-section-mobile-gradient-B {
  background: linear-gradient(to bottom, #d2d2d2, #909090);
}

.dark {
  .service-section-mobile-gradient-A {
    background: linear-gradient(to bottom, #351375, #763edf);
  }
  .service-section-mobile-gradient-B {
    background: linear-gradient(to bottom, #351375, #763edf);
  }
}

.service-content-gradient-A {
  background: linear-gradient(to bottom, #3d6eb7, #3d84e4);
}

.service-content-gradient-B {
  background: #d9d9d9;
}

.dark {
  .service-content-gradient-A {
    background: linear-gradient(to bottom, #011855, #54005b);
  }
  .service-content-gradient-B {
    background: linear-gradient(to bottom, #351375, #763edf);
  }
}

.interaction-button-gradient {
  background: linear-gradient(to bottom, #0b2d5a, #213855);
}

.interaction-button-gradient:hover {
  background: #1f3a5d;
}

@font-face {
  font-family: "Raleway";
  src: url("./resources/fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Syne";
  src: url("./resources/fonts/Syne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SFUI";
  src: url("./resources/fonts/SFUI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .transition-color {
    transition-property: color background-color;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
  }
}

.dropdown {
  .btn-primary {
    background: none;
    border: none;
  }
  .btn-primary:hover {
    background: none !important;
  }
  .btn-primary:focus {
    background: none !important;
  }
  .btn-primary:active {
    background: none !important;
  }
  .btn {
    padding: 0;
    font-family: "SFUI";
  }
  .btn:checked {
    background: none !important;
  }
  .btn:active {
    background: none !important;
  }
  .btn-check:checked + .btn {
    background: none !important;
  }
  .btn.show {
    background: none !important;
  }
  .btn:first-child:active {
    background: none !important;
  }
  :not(.btn-check) + .btn:active {
    background: none !important;
  }
}

.dropdown-menu {
  background: linear-gradient(to bottom, #0b2d5a, #0e4695);
  border-radius: 10px !important;
  border: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.dark {
  .dropdown-menu {
    background: linear-gradient(to bottom, #011855, #54005b);
  }
}

.dropdown-item {
  color: white !important;
  border-bottom: solid rgba(255, 255, 255, 0.183) 1px !important;
}

.dropdown-item:last-child {
  border-bottom: none !important;
}

.dropdown-item:hover {
  background: none !important;
  opacity: 0.8;
}

.dropdown-item:focus {
  background: none !important;
}

@keyframes move1 {
  0% {
    transform: translate(15vw, 1990px);
  }
  50% {
    transform: translate(1vw, 1880px);
  }
  100% {
    transform: translate(15vw, 1990px);
  }
}

.strip-1-animation {
  animation: move1 500s linear infinite;
  object-fit: cover;
  height: 100%;
}

@keyframes move2 {
  0% {
    transform: translate(80vw, 2786px);
  }
  50% {
    transform: translate(50vw, 3100px);
  }
  100% {
    transform: translate(80vw, 2786px);
  }
}

.strip-2-animation {
  animation: move2 500s linear infinite;
  object-fit: cover;
  height: 100%;
}

@keyframes move3 {
  0% {
    transform: translate(85vw, 0px);
  }
  50% {
    transform: translate(70vw, 200px);
  }
  100% {
    transform: translate(85vw, 0px);
  }
}

.strip-3-animation {
  animation: move3 500s linear infinite;
  object-fit: cover;
  height: 100%;
}

/* For WebKit browsers */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background: #029ddf; /* Light grey background for the track */
}

::-webkit-scrollbar-thumb {
  background: #4515a4; /* Dark blue for the scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #2b0b5f; /* Slightly darker blue on hover */
}
